
#dom_host_css_tag   { content: "dom_host_css (190103:19h)"; }

.overflow_visi *    { overflow         : visible !important; }

.wall_of_text_parent                 { outline     : 3px dashed pink       !important; }
.wall_of_text_split                  { word-wrap   : break-word                      ; }
.wall_of_text_split                  { white-space : pre-wrap                        ; }
.wall_of_text_split                  { padding     : 0                     !important; }
.wall_of_text_split                  { margin      : 0                     !important; }

.wall_of_text_split:nth-of-type( 1n) { background  : rgba(150, 75,  0,0.1) !important; }
.wall_of_text_split:nth-of-type( 2n) { background  : rgba(255,  0,  0,0.1) !important; }
.wall_of_text_split:nth-of-type( 3n) { background  : rgba(255,165,  0,0.1) !important; }
.wall_of_text_split:nth-of-type( 4n) { background  : rgba(255,255,  0,0.1) !important; }
.wall_of_text_split:nth-of-type( 5n) { background  : rgba(154,205, 50,0.1) !important; }
.wall_of_text_split:nth-of-type( 6n) { background  : rgba(100,149,237,0.1) !important; }
.wall_of_text_split:nth-of-type( 7n) { background  : rgba(238,130,238,0.1) !important; }
.wall_of_text_split:nth-of-type( 8n) { background  : rgba(160,160,160,0.1) !important; }
.wall_of_text_split:nth-of-type( 9n) { background  : rgba(255,255,221,0.1) !important; }
.wall_of_text_split:nth-of-type(10n) { background  : rgba(192,192,192,0.1) !important; }

/* collapsed {{{*/
.collapsed {
    height           : 2em;
    transform-origin : 0 0;
    transform        : scale(.8,.8);
    overflow         : hidden;
    filter           : blur(2px);
    cursor           : pointer;
}
.collapsed:hover {
    height           : 4em;
    transform        : scale(1,1);
    filter           : none;
}
.collapse_pin {
    position         : relative; top : -.5em; left : 10%;
    cursor           : pointer;
    background-color : transparent;
    font-size        : 200%;
    color            : red;
}
.collapse_pin:hover {
    box-shadow       : 0 0 .5em black;
}

/*}}}*/
/* node_to_hide_mask {{{*/
.node_to_hide_mask             { z-index             : 2147483646                           !important; }
.node_to_hide_mask.last_hidden { z-index             : 2147483647                           !important; }
.node_to_hide_mask             { cursor              : pointer                              !important; }
.node_to_hide_mask             { user-select         : none                                 !important; }
.node_to_hide_mask             { position            : absolute                             !important; }
.node_to_hide_mask             { overflow            : hidden                               !important; }
.node_to_hide_mask             { margin              : 0                                    !important; }
.node_to_hide_mask             { padding             : 0                                    !important; }
.node_to_hide_mask             { box-shadow          : rgba(255,255,255) 3px 3px 3px inset  !important; }
.node_to_hide_mask             { background-color    : rgba(200,200,255,0.9)                !important; }
.node_to_hide_mask.last_hidden { background-color    : rgba(255,200,200,0.9)                !important; }
.node_to_hide_mask             { transition-duration : 200ms;                                           }
/*{{{
.node_to_hide_mask             { color               : transparent                          !important; }
}}}*/

/*{{{*/
.node_to_hide_mask     {
    color          : #AAA                     !important;
    font-size      : 100%                     !important;
    font-weight    : 900                      !important;

}
.node_to_hide_mask>*   {
    position       : absolute                 !important;
    top            : 0                        !important;
    left           : 0                        !important;
    margin:0 !important;
    padding:0 !important;
    line-height: 1em !important;
/*{{{
    position       : absolute                 !important;
    top            : 0.5em                    !important;
    left           : 0.5em                    !important;
    width          : 100%                     !important;
    height         : 100%                     !important;
    border         : 1px black solid          !important;
    z-index        : -1                       !important;
    pointer-events : none                     !important;

    transform      : translate(-0.5em,-0.5em) !important;
    line-height    : 1em                      !important;
    line-height    : 100%                     !important;
    vertical-align : middle                   !important;
    text-align     : center                   !important;
}}}*/
}
/*}}}*/


/*}}}*/
/* node_to_hide_not_visible {{{*/
.node_to_hide_not_visible      { display      : none !important; }

/*}}}*/
/* last_hidden {{{*/
.last_hidden                   { transition-duration : 100ms;                                           }
.last_hidden                   { outline             : 5px rgba(255,000,000,0.3) solid   !important;    }
.last_hidden                   { cursor              : pointer   !important;                            }
.last_hidden                   { user-select         :    none;                                         }
/*
.last_hidden                   { box-shadow          : 0 0 16px 8px rgba(255,  0,  0, .8) !important;   }
*/

/*}}}*/
/* node_to_hide marked_to_dimm {{{*/
.marked_to_hide    { user-select      : none                                 !important; }
.marked_to_dimm    { transition       : opacity    500ms                               ; }
.marked_to_hide    { transition       : opacity    500ms                               ; }
.marked_to_dimm    { transition       : outline    0ms                          100ms  ; }
/*...................transition       : <property> <duration> <timing-function> <delay>; */

.marked_to_dimm    { outline          : 3px dashed rgba(068,000,255,1)       !important; }
.marked_to_dimm    { opacity          : 0.3                                  !important; }
.marked_to_dimm    { background-color : pink                                 !important; }
.marked_to_dimm    { user-select      : none                                 !important; }
.marked_to_dimm    { box-shadow       : 0   0 16px 8px    rgba(  0,255,  0, .8);         }
/* .................................. ox oy blur spread color ................*/

/*}}}*/

.containers_hi .viewable { outline             : red 5px solid !important; };
.containers_hi .viewable { transition-duration : 500ms; }

/* zoom {{{*/
.zoom_70  { zoom :  70%; }
.zoom_80  { zoom :  80%; }
.zoom_90  { zoom :  90%; }

.zoom_100 { zoom : 100%; }
.zoom_110 { zoom : 110%; }
.zoom_120 { zoom : 120%; }

.zoom_130 { zoom : 130%; }
.zoom_150 { zoom : 150%; }
.zoom_160 { zoom : 160%; }

.zoom_180 { zoom : 180%; }
.zoom_200 { zoom : 200%; }
.zoom_220 { zoom : 220%; }

/*}}}*/
/* scale {{{*/
/*
.scale_70  { transform : scale(0.70); transform-origin : 0 0 0; }
.scale_80  { transform : scale(0.80); transform-origin : 0 0 0; }
.scale_90  { transform : scale(0.90); transform-origin : 0 0 0; }

.scale_100 { transform : scale(1.00); transform-origin : 0 0 0; }
.scale_110 { transform : scale(1.10); transform-origin : 0 0 0; }
.scale_120 { transform : scale(1.20); transform-origin : 0 0 0; }

.scale_130 { transform : scale(1.30); transform-origin : 0 0 0; }
.scale_150 { transform : scale(1.50); transform-origin : 0 0 0; }
.scale_160 { transform : scale(1.60); transform-origin : 0 0 0; }

.scale_180 { transform : scale(1.80); transform-origin : 0 0 0; }
.scale_200 { transform : scale(2.00); transform-origin : 0 0 0; }
.scale_220 { transform : scale(2.20); transform-origin : 0 0 0; }
*/
/*}}}*/

.pat_div {
    display       : inline-block !important;
    margin        : 1em;
    border-radius : 1ex;
    border        : 3px solid #aaa;
    padding       : 1em;
}

#shadow_host {
    position : absolute;
    left     : 0;
    top      : 0;
    margin   : 0;
    border   : 0;
    padding  : 0;
    width    : 0px;
    height   : 0px;
}

/* TYPE {{{*/

em {
    background-color  : #fafafa;
    border            : 0px solid #aaa;
    border-radius     : 5px;
    color             : #444;
    font-style        : normal;
}

input       { border  : 6px #eee solid;        }
input:focus { outline : 0;                     }
input:focus { border  : 6px solid transparent; }

/* }}} */
/* COLOR CODED {{{ */
.cc1 , .select1 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc2 , .select2 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc3 , .select3 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc4 , .select4 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc5 , .select5 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc6 , .select6 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc7 , .select7 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc8 , .select8 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc9 , .select9 { box-shadow: rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset !important; }
.cc0 , .select0 { box-shadow: #FFF               0 0.1em 0.1em inset; }

/* ECC #964B00 #FF0000 #FFA500 #FFFF00 #9ACD32 #6495ED #EE82EE #A0A0A0 #FFFFFF #CFB53B #C0C0C0 */
/*      111111  222222  333333  444444  555555  666666  777777  888888  999999  000000  111111 */
.cc1 , .select1 , .select1 em { color: #FFF !important; background-color:#964B00 !important; padding:0 0px 0 0px !important; }
.cc2 , .select2 , .select2 em { color: #FFF !important; background-color:#FF0000 !important; padding:0 0px 0 0px !important; }
.cc3 , .select3 , .select3 em { color: #000 !important; background-color:#FFA500 !important; padding:0 0px 0 0px !important; }
.cc4 , .select4 , .select4 em { color: #000 !important; background-color:#FFFF00 !important; padding:0 0px 0 0px !important; }
.cc5 , .select5 , .select5 em { color: #000 !important; background-color:#9ACD32 !important; padding:0 0px 0 0px !important; }
.cc6 , .select6 , .select6 em { color: #000 !important; background-color:#6495ED !important; padding:0 0px 0 0px !important; }
.cc7 , .select7 , .select7 em { color: #000 !important; background-color:#EE82EE !important; padding:0 0px 0 0px !important; }
.cc8 , .select8 , .select8 em { color: #000 !important; background-color:#A0A0A0 !important; padding:0 0px 0 0px !important; }
.cc9 , .select9 , .select9 em { color: #000 !important; background-color:#FFFFFF !important; padding:0 0px 0 0px !important; }
.cc0 , .select0 , .select0 em { color: #000 !important; background-color:#888    !important; padding:0 0px 0 0px !important; }

.select_words_exact     { border:0px red         !important; border-radius:.5ex;                            }
.select_words_segment   { border:0px transparent !important; border-radius: 0  ;                            }
.select_words_segment   { border:0px             !important;       outline: 3px rgba(128,128,128,.5) solid; }
.select_words_head_tail { border:0px             !important; border-radius: 1ex;                            }

/* }}} */
/* big small {{{*/
/*{{{
*** clash with https://www.google.fr/search:
.big   { font-size : 200% !important; vertical-align : middle; }
.small { font-size :  80% !important; vertical-align : middle; }
}}}*/
/*}}}*/
/* cursor {{{ */

em.select1,
em.select2,
em.select3,
em.select4,
em.select5,
em.select6,
em.select7,
em.select8,
em.select9,
em.select0 { cursor : all-scroll !important; }

.select1,
.select2,
.select3,
.select4,
.select5,
.select6,
.select7,
.select8,
.select9,
.select0 { white-space : nowrap !important; }

/*}}}*/
/* container_dark container_light {{{*/
/* ............................................................... ox oy blur spread color ................*/
.scroll_smooth { scroll-behavior  : smooth  !important; }
/* .scrolling {{{
@media only screen and (max-resolution :  16dpi)
{
               .scrolling .container_dark  ,
               .scrolling .container_light { transition-duration :  100ms; }
                          .container_dark  ,
                          .container_light { transition-duration :  100ms; }

.scroll_smooth .scrolling .container_dark  ,
.scroll_smooth .scrolling .container_light { transition-duration :  250ms; }
.scroll_smooth            .container_dark  ,
.scroll_smooth            .container_light { transition-duration :  500ms; }

               .scrolling .container_dark  { box-shadow          : 0   0  2px 8px    rgba(255,  0,  0, .8); }
               .scrolling .container_light { box-shadow          : 0   0  2px 8px    rgba(  0,  0,255, .8); }
.scroll_smooth .scrolling .container_dark  { box-shadow          : 0   0 16px 8px    rgba(255,  0,255, .8); }
.scroll_smooth .scrolling .container_light { box-shadow          : 0   0 16px 8px    rgba(  0,255,  0, .8); }
}
}}}*/

.containers_hi       :not(.container_light):not(.container_dark ):not(em):not(.node_to_hide_mask) { background-image: none !important; box-shadow:none !important; text-shadow:none !important; }
.containers_hi.dark                        :not(.container_dark ):not(em):not(.node_to_hide_mask) { background-color: #222 !important; color :rgba(255,255,255,0.5) !important; }
.containers_hi.light                       :not(.container_light):not(em):not(.node_to_hide_mask) { background-color: #EEE !important; color :rgba(  0,  0,  0,0.5) !important; }

.container_dark, .container_light { border        : 0px;                               }
.container_dark, .container_light { border-radius : 5px !important;                    }
.container_dark, .container_light { box-shadow    : 2px 2px 6px rgba(000,000,000,0.7); }

.container_dark                   { color         : white !important; }
.container_light                  { color         : black !important; }

.container_dark                   { background    : linear-gradient(110deg, rgba( 68, 28,  0,.3), rgba(255, 106, 26,.3)) !important; }
.container_light                  { background    : linear-gradient(110deg, rgba(255,130,  0,.3), rgba(  0,   0,  0,.3)) !important; }

.container_selected               { outline       : 1px dashed orange; }

/*}}}*/

.on_work_el_left  { outline : .5em dotted  green !important; }
.on_work_el_right { outline : .5em dotted  red   !important; }
.num_selected     { outline : .5em dotted  #A0F  !important; }
/*
*/
body.dimmed {
    filter : blur(2px) grayscale(100%) !important;
}
body.dimmed { transition : filter 250ms; }

body *::selection {
/*
    background: rgba(192,192,255,0.3);
*/
    background:black;
    color:white;
}
body.cannot_expand_to_selection *::selection {
    background: red;
/*
    background: navy !important;
    font-weight:900;
*/
}
/* .transcript {{{*/

.transcript            { transform-origin     : 0% 0% 0;         }
.transcript            { cursor               : pointer;         }
.transcript            { margin               : .2em;            }
.transcript            { padding              : 1ex;             }
.transcript            { min-height           : 1em;             }

.transcript            { max-width            :  80%;            }
.transcript            { max-height           :  90%;            }

.transcript            { overflow             : hidden; }
#transcript1           { overflow             :   auto; }
#transcript2           { overflow             :   auto; }

.transcript::-webkit-scrollbar                       { width         :  3em; }
.transcript::-webkit-scrollbar                       { height        :  3em; }
.transcript::-webkit-scrollbar-thumb                 { border-radius : 96px; }
.transcript::-webkit-scrollbar-track                 { border-radius : 96px; }
.transcript::-webkit-scrollbar-thumb                 { box-shadow    : inset 0 0 6px rgba(0,0,0,0.5); }
.transcript::-webkit-scrollbar-track                 { box-shadow    : inset 0 0 6px rgba(0,0,0,0.3); }
.transcript::-webkit-scrollbar-thumb                 { box-shadow    : rgba(  0,  0,  0,0.5) 0 8px 24px; }
.transcript::-webkit-scrollbar-thumb                 { background    : rgba( 24, 24, 24,0.5); }
.transcript::-webkit-scrollbar-thumb:window-inactive { background    : rgba( 24, 24, 24,0.2); }
.transcript::-webkit-scrollbar-track                 { background    : rgba( 96, 96, 96,0.4); }
.transcript::-webkit-scrollbar-track:window-inactive { background    : rgba(128,128,128,0.2); }

.transcript>div        { margin               : .2em;            }

.transcript *          { user-select  : none;            }
.transcript *          { vertical-align       : middle;          }
.transcript *          { font-family          : monospace;       }

.transcript blockquote { margin               : .2em;                     }
.transcript blockquote { padding              : 1ex;                      }
.transcript blockquote { white-space          : normal !important;        }
.transcript blockquote { width                : 48em;                     }

.transcript div        { cursor               : pointer;         }
/*
.transcript div        { display              : inline-block;    }
*/
.transcript div        { display              : table-cell;      }
.transcript div        { margin               : .2em;            }
.transcript div        { overflow             : hidden;          }
.transcript div        { padding              : 1ex;             }

.transcript em         { line-height          : 1.50em;          }

.transcript pre        { background           : initial;         }
.transcript pre        { padding              : 0 0 0 1ex;       }
.transcript pre        { text-align           : left;            }

.transcript sub        { vertical-align       : sub;             }
.transcript sup        { color                : white;           }
.transcript sup        { vertical-align       : super;           }

.transcript table      { user-select  : none;            }
.transcript table      { margin               : 0;               }
.transcript tr.slot    { font-size            : 200%;            }
.transcript th         { font-size            : 120%;            }
.transcript th         { padding              : 1ex;             }
.transcript th         { text-align           : left;            }
.transcript th         { text-shadow          : rgba( 50, 50, 50, 0.9) 1px 1px 2px !important; }
.transcript th         { font-weight          : 700; }
.transcript hr         { height               : 5px; }

.transcript td         { padding              : 1ex;             }
.transcript td         { text-align           : left;            }

.transcript ul         { line-height          : 0.75em;          }
.transcript ul         { margin               : .2em;            }
.transcript ul         { padding              : 0 0 0 2em;       }

.transcript_msg .info  {
    box-shadow  : 2px 2px 6px rgba(000,000,000,0.7) inset;
    font-family : "Comic sans ms";
}

      .transcript_msg { color       : #200; }
.dark .transcript_msg { color       : #FA0 !important; }

#table_params *   {     text-align : right  ; }

.div_match {
    border: solid 8px black !important;
}
.div_match div {
    border:solid 1px !important;
}

.em_match {
    box-shadow    : rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset;
    font-size     : 200%;
}
.em_missing {
    color            : red;
    background-color : transparent;
    font-weight      : 700;
    box-shadow       : rgba(255, 0, 0, 0.3) 0 0.3em 0.3em inset;
}

.em_log {
    padding          : .2em;
    border-radius    : 50%;
    box-shadow       : rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset;
}
.em_log span {
    border-radius    : .5em;
/*
    padding          : .5em;
*/
}

/*}}}*/
/* outlined_divs {{{*/
.outlined_divs {
    position         : absolute             !important;
    pointer-events   : none                 !important;
    margin           : 0                    !important;
    border-radius    : 16px                 !important;
    border-style     : solid                !important;
    border-width     : 7px                  !important;
    padding          : 0                    !important;
    background-color : transparent          !important;
}
.outlined_dots {
    position         : absolute             !important;
    pointer-events   : none                 !important;
    margin           : 0                    !important;
    border-radius    : 1em                  !important;
    padding          : 1em                  !important;
    transform        : translate(-50%,-50%) !important;
    text-shadow      : white    1px 1px 2px !important;
}
/*}}}*/

